<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codyy.rrt.resource.mapper.BaseAttacheFileMapper">

	<resultMap id="result" type="baseAttacheFile">
	</resultMap>

	<select id="findByForeignIdAndType" resultMap="result" parameterType="java.util.Map">
		SELECT 
		RESOURCE_ID,RESOURCE_NAME,RESOURCE_COLUMN_ID
		FROM RESOURCES
	</select>

</mapper>